body {
  font-family: sans-serif;
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.container {
  border-radius: 10px;
  padding: 5px; /* Reducimos un poco el padding del contenedor */
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(350px, 1fr)
  ); /* Ajustamos el ancho mínimo de las máquinas */
  gap: 15px; /* Reducimos el espacio entre máquinas */
  width: 98%; /* Aumentamos el ancho para que ocupe casi toda la página */
  max-width: none; /* Eliminamos el max-width para permitir un ancho mayor */
  box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  padding: 10px 0;
  margin-bottom: 1px;
}

.logo {
  width: 130px;
  margin-right: 15px;
}

.date-time {
  text-align: right;
}

.machine-section {
  background-color: white;
  border-radius: 8px;
  padding: 10px; /* Reducimos el padding de la sección de la máquina */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho máximo */
}

.dropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.tracking-button-container {
  position: relative;
}

.tracking-button {
  background-color: green; /* Un tono morado */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  align-self: flex-end;
}

.tracking-button-container:focus-within .dropdown,
.tracking-button-container:hover .dropdown {
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.machine-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.machine-header h3 {
  margin: 0;
  color: #333;
  font-size: 1.2em;
}

.status {
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.8em;
}

.status.inactive {
  background-color: #ffdddd;
  color: #d32f2f;
}

.status.warning {
  background-color: #ffeb3b;
  color: #f57c00;
}

.status.good {
  background-color: #ccff90;
  color: #388e3c;
}

.machine-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.machine-body img {
  width: 490px; /* Establecemos un ancho fijo para todas las imágenes */
  height: 650px; /* Establecemos una altura fija para todas las imágenes */
  object-fit: fill; /* Asegura que la imagen se ajuste dentro del contenedor sin recortarse, manteniendo su relación de aspecto */
  margin-bottom: 25px;
  /* border: 1px solid #ddd; Eliminamos el borde alrededor de la imagen */
  border-radius: 5px;
  background-color: white; /* Para que las áreas transparentes no se vean */
}

.data-overview {
  width: 100%;
  display: flex;
  padding: 10px 0;
  font-size: 0.9em;
  color: #555;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

.data-overview input[type="text"] {
  display: flex;
  color: black;
  background-color: transparent;
  text-align: center;
  width: 70%;
  box-sizing: border-box;
  border: none;
  font-weight: bold;
}

.data-overview textarea {
  border: none;
  background-color: transparent;
  resize: none;
  height: 90%;
}

.data-info {
  position: absolute;
  top: 200px;
  left: 175px;
  bottom: 0;
  background-color: transparent;
  padding: 10px;
}

.data-info input[type="text"] {
  color: black;
  text-align: center;
  width: 70%;
}

.data-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.data-item span:first-child {
  font-weight: bold;
  margin-bottom: 3px;
}

.data-item input[type="text"] {
  color: black;
  text-align: center;
  box-sizing: border-box;
  width: 40%;
}

.bottom-bar {
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  margin-top: 1px;
  box-sizing: border-box;
}

.menu-button {
  background-color: #5cb85c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.menu-button:hover {
  background-color: #4cae4c;
}

.indicators {
  display: none;
}

.carretillero input[type="text"] {
  color: black;
  border: 1 black;
  text-align: center;
  box-sizing: border-box;
}

.carretillero {
  display: flex;
  align-items: center;
  margin-top: 5px; /* Añade un margen superior para separar del contenido anterior */
}

.carretillero label {
  margin-right: 5px; /* Añade un margen derecho para separar el texto del input */
}

.carretillero textarea {
  border: none;
  font-weight: bold;
  background-color: transparent;
} 

.param {
  font-size: 0.9em;
} 

.param input[type="text"] {
  color: black;
  border: none;
  text-align: left;
  box-sizing: border-box;
  width: 65%;
  font-size: 12px;
  font-weight: bold;
  background-color: transparent;
}

.tolvaOrigen {
  position: relative;
  box-sizing: border-box;
  left: 5px;
}

.tolvaOrigen {
  top: 133px;
  bottom: 0;
  z-index: 1;
  background-color: transparent;
  font-size: 0.7em;
}

.tolvaOrigen input[type="text"] {
  width: 60%;
  border: none;
  color: black;
  background-color: transparent;
  font-weight: bold;
  font-size: 1em;
}

.textareas-container {
  display: flex;
  justify-content: center; /* Centrar verticalmente en el contenedor principal */
  align-items: center; /* Centrar horizontalmente en el contenedor principal */
  min-height: 80px; /* Ajusta la altura mínima según necesites */
  margin-top: 1px; /* Espacio superior para separarlos del contenido anterior */
  width: 100%; /* Ocupar todo el ancho disponible */
}

.textareas-container input[type="text"] {

  width: 15%; /* Ocupar todo el ancho disponible */
  resize: none;
}

.name-input {
  color: black;
  font-weight: bold;
  border: 1px solid #ccc;
  background-color: transparent;
  resize: none;
  width: 220px;
}

.status-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    box-shadow: 0px 0px 5px #222;
}

textarea {
  resize: none;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

input[type="checkbox"]:checked {
    background-color:#00FF00;
}

input[type="checkbox"] {
    pointer-events: none;
    appearance: none;
    width: 50px;
    height: 62px;
    text-align: center;
    font-size: 25px;
    background-color: red;
    transition: 250ms;    
}

input[type="checkbox"]::after {
  content: "↓"; /* Carácter de flecha hacia abajo */
  position: absolute;
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste fino para el centrado */
  font-size: 40px; /* Tamaño de la flecha */
  color: white; /* Color de la flecha */
  font-weight: bold;
}

input[type="checkbox"]:before {
    color: white;
}

input[type="checkbox"]:checked:before {
    color: white;
}